<%- include('partials/header') %>

  <div class="container-sm mt-5 loutdiv">


    <div class="container-sm loginoutdiv">

      <% if (message.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= message.error %>
        </div>
        <br>
        <% } %>

          <% if (message.success) { %>
            <div class="alert alert-success" role="alert">
              <%= message.success %>
            </div>
            <br>
            <% } %>

              <div class="card logincard">

                <h1 class="lhead">Login</h1>
                <div class="card-body">
                  <form action="/login" method="POST">
                    <div class="mb-3">
                      <label for="email" class="">Email</label>
                      <div class="col-sm-10 lem">
                        <input type="email" class="form-control" id="inputEmail3" name="username" required>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="">Password</label>
                      <div class="col-sm-10 lem">
                        <input type="password" class="form-control" id="inputPassword3" name="password" minlength="4"
                          required>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>

                </div>

              </div>

              <footer class="ftr">Don't have an account?<a href="/register"> Register</a></footer>



    </div>





    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->




  </div>

  <%- include('partials/footer') %>